<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<h2>Featured Projects</h2>

<div class="user-projects">
  <div class="images-right">
    <img alt="HTML Editor" src="{{ "/assets/img/html-editor.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>HTML Editor</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
    <p>HTML 코드를 작성하고 실시간으로 미리보기 확인하며 파일을 저장할 수 있는 웹 에디터입니다.</p>
    <a class="project-link" href="https://jjobfor1-ux.github.io/html-editor" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="SeeHTML" src="{{ "/assets/img/seehtml.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>SeeHTML</h3>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
    </ul>
    <p>HTML 파일을 읽고, 수정하고, 저장할 수 있는 간단한 도구입니다.</p>
    <a class="project-link" href="https://jjobfor1-ux.github.io/seehtml" target="_blank">Check it out</a>
  </div>
</div>
<!-- 3번째 프로젝트: 2026 Korean Labor Law Compliance Guide -->
<div class="user-projects">
  <div class="images-right">
    <img alt="2026 Labor Law Guide" src="{{ "/assets/img/labor-law.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>2026 Korean Labor Law Compliance Guide</h3>
    <ul>
      <li>노동법 개정</li>
      <li>HR 체크리스트</li>
      <li>인사 실무 가이드</li>
    </ul>
    <p>2026년 대한민국 노동법 주요 개정 사항과 인사팀(HR)이 실무에서 바로 적용해야 할 핵심 체크리스트를 정리한 가이드입니다.</p>
    <a class="project-link" href="https://jjobfor1-ux.github.io/Pj2_2026_labor_Korea" target="_blank">Check it out</a>
  </div>
</div>
